.App {
  text-align: center;
}
.all-products{
  display:grid;
  grid-template-columns: auto auto auto;
  gap:1.5rem;
  padding: 1.5rem;
  justify-content: center;
}
.procudt-card:hover{
   transform: scale(1.1);
}
.details,.delete{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.add,.update{
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5em;
  padding-top: 2rem;
}
.home{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

  